---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/footer.astro'
import Head from '@/components/head.astro'
import Header from '@/components/header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<!doctype html>
<html
  class="bg-background text-foreground scheme-light-dark"
  lang={SITE.locale}
>
  <Head>
    <slot name="head" />
  </Head>
  <body class="flex h-fit min-h-screen flex-col overflow-x-hidden font-sans">
    <header
      class="sticky top-0 z-50 divide-y backdrop-blur-sm xl:divide-none"
    >
      <Header />
      <slot name="subposts-navigation" />
      <slot name="table-of-contents" />
    </header>
    <main
      transition:animate="fade"
      class="box-border flex w-full grow flex-col px-[5vw] pt-10"
    >
      <div class={cn('mx-auto flex w-full flex-col gap-y-6', className)}>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
